/*
 * Theme Name: Strident
 * Theme URI: 
 * Description: Custom theme for Strident Computer Systems
 * Version: 1.0
 * Author: Adam Chamberlin
 * Author URL: http://stourvalleydesigns.com.
 * 
 */

//Mixins and Variables
@FONTSIZE: 12;
@BASELINE: 1.5em;
@GREY: #666666;
@LIGHTGREY: #cccccc;
@BLUE: #0d5378;
@LIGHTBLUE: #1a93b1;
@ORANGE: #f68b1f;

// Typography and baseline grid
.font-size(@FONTSIZE: 16){
  @REM: (@FONTSIZE / 10);
  font-size: @FONTSIZE * 1px;
  font-size: ~"@{REM}rem";
}

// Clearfix
.clearfix {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}

/*
 * Reset's some browser defaults and adds a touch of styling
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden], .hide {
    display: none;
}

html {
  font-size : 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

}

body, button, input, select, textarea {
    font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.clickable, label, input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

b, strong { 
    font-weight: bold; 
}

dfn {
    font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

mark {
    background: #ff0;
    color: #000;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

blockquote {
    margin: 1em 40px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

img, object, embed {
  max-width: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    *margin-left: -7px;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

input[type="radio"] {
  vertical-align: text-bottom;
  box-sizing: border-box;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td, td img {
  font-weight: normal; 
  vertical-align: top;
}

body, select, input, textarea {
  color: #333;
}

::-moz-selection{
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #99cc00;
  color: #fff;
  text-shadow: none;
} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

body { 
  margin : 0 auto;
  padding : 0;
  .font-size(@FONTSIZE);
  color : @GREY; 
}

#header {

  #access {
    position: relative;
    background: @BLUE;
    line-height: 2em;
    overflow: hidden;
    .font-size(12);
    

    ul {
      padding: 0 1em;
      float: left;
    }

    li {
      display: inline;
      padding: 0 2em 0 0;
      text-transform: lowercase;

      a {
        color: white;
        text-decoration: none;
      }
    }

    a:hover {
      color: @LIGHTBLUE;
    }
  }

  .title {
    color: @BLUE;
    height: 25em;
    width: 960px;
    margin: 40px auto;
    border-bottom: 1px solid @LIGHTGREY;
    position: relative;
    .clearfix();

    h1 {
      float: right;
      width: 500px;
      height: 190px;
      background: url(../images/business_talk_logo.png) no-repeat;
      text-indent: -9999px;
    }

    h2 {
      width: 500px;
      .font-size(36);
      float: right;
      text-align: right;
      margin: 0 2em 0 0;
      color: @LIGHTBLUE;
    }

    img {
      position: absolute;
      left: 1em;
      -webkit-transform: rotate(-10deg) scale(0.8);
      -moz-transform: rotate(-10deg) scale(0.8);
      -o-transform: rotate(-10deg) scale(0.8);
      transform: rotate(-10deg) scale(0.8);
    }

  }
}

#content {
  width: 960px;
  margin: 50px auto;

  p {
    margin-bottom: @BASELINE;
    line-height: @BASELINE;
  }

  a {
    color: @LIGHTBLUE;
  }

  h2 {
    .font-size(24);
  }

  .bt-archive {
    list-style: none;
    margin: 5em 0;
    .clearfix();

    li {
      float: left;
      width: 28%;
      margin: 0 5% 0 0;
      min-height: 260px;

      h3 {
        .font-size(18);
      }

      a {
        text-decoration: none;
        color: @GREY;
      }

    }
    img {
      margin: 10px;
      -webkit-box-shadow: 3px 3px 8px @GREY;
      -moz-box-shadow: 3px 3px 8px @GREY;
      box-shadow: 3px 3px 8px @GREY;
      -webkit-transform: rotate(-10deg) scale(0.8);
      -moz-transform: rotate(-10deg) scale(0.8);
      -o-transform: rotate(-10deg) scale(0.8);
      transform: rotate(-10deg) scale(0.8);
      
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        -webkit-transform: rotate(0) scale(1);
      }
    }

  }
}

#footer {
  background: #f68b1f;
  color: #231f20;
  width: 100%;
  position: fixed;
  bottom: 0;

  p {
    margin: 1em 2em;
    text-align: right;

    a {
      color: #231f20;
      font-weight: bold;
      text-decoration: none;
    }
  }
}