/*
 * Theme Name: Strident
 * Theme URI: 
 * Description: Custom theme for Strident Computer Systems
 * Version: 1.0
 * Author: Adam Chamberlin
 * Author URL: http://stourvalleydesigns.com.
 * 
 */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/*
 * Reset's some browser defaults and adds a touch of styling
 */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden],
.hide {
  display: none;
}
html {
  background: #ffffff;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #125263;
}
body,
button,
input,
select,
textarea {
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
.clickable,
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
blockquote {
  margin: 1em 40px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img,
object,
embed {
  max-width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="radio"] {
  vertical-align: text-bottom;
  box-sizing: border-box;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td,
td img {
  font-weight: normal;
  vertical-align: top;
}
body,
select,
input,
textarea {
  color: #333;
}
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #99cc00;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
body {
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
  font-size: 1.2rem;
  color: #666666;
}
/*
 * Typography
 */
@font-face {
  font-family: 'Vegur';
  src: url('fonts/vegur-light.eot');
  src: url('fonts/vegur-light.eot?#iefix') format('embedded-opentype'), url('fonts/vegur-light.woff') format('woff'), url('fonts/vegur-light.ttf') format('truetype'), url('fonts/vegur-light.otf') format('opentype'), url('fonts/vegur-light.svg#VegurLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  color: #666666;
  font-family: Vegur;
}
h1,
h2,
h3 {
  margin-bottom: 0.75em;
  line-height: 1.3;
}
h4,
h5 {
  margin-bottom: 1em;
}
h1 {
  font-size: 36px;
  font-size: 3.6rem;
  top: 5px;
}
h2 {
  font-size: 28px;
  font-size: 2.8rem;
  top: 8px;
}
h3 {
  font-size: 24px;
  font-size: 2.4rem;
  top: 1px;
}
h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
  top: 2px;
}
h5 {
  font-size: 15px;
  font-size: 1.5rem;
  top: 4px;
}
h6 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5em;
  top: 5px;
}
p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #1e90ff;
  padding: 2px 0;
}
a:hover {
  color: #666666;
}
/*
 * Header Structure
 */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  /*
	 * Top Breadcrumb
	 */

  /*
	 * Top bar
	 */

}
#header #access {
  position: relative;
  background: #58616a;
  height: 2em;
  line-height: 2em;
  font-size: 12px;
  font-size: 1.2rem;
}
#header #access ul {
  padding: 0 1em;
  float: left;
}
#header #access li {
  display: inline;
  padding: 0 2em 0 0;
  text-transform: lowercase;
}
#header #access li a {
  color: white;
}
#header #access li.current_page_item a,
#header #access li.current-page-ancestor a {
  font-weight: bold;
}
#header #access li:last {
  float: right;
}
#header #access a:hover {
  color: #cccccc;
}
#header #access .contact {
  position: absolute;
  right: 10px;
  top: 4px;
}
#header #access .contact a {
  color: #ffffff;
}
#header #branding {
  background: #1e90ff;
  line-height: 3em;
  overflow: hidden;
  border-bottom: 1px solid #0077ea;
  /*
		 * Social bookmarks
		 */

}
#header #branding .page-title {
  float: left;
  background: url(images/logo.png) 20px 10px no-repeat;
  padding: 0 0 0 5em;
}
#header #branding .page-title h1 {
  font-size: 20px;
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
  line-height: 2em;
  margin-left: 10px;
}
#header #branding .social {
  float: right;
}
#header #branding .social a {
  display: block;
  width: 36px;
  height: 36px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
}
#header #branding .social .search {
  background: transparent url(images/search.png) no-repeat;
}
#header #branding .social .client {
  background: transparent url(images/client.png) no-repeat;
}
#header #branding .social .rss {
  background: transparent url(images/rss.png) no-repeat;
}
#header #branding .social .linked-in {
  background: transparent url(images/linkedin.png) no-repeat;
}
#header #branding .social .twitter {
  background: transparent url(images/twitter.png) no-repeat;
}
#header #branding #search {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000000;
  padding: 20px;
  top: 85px;
  right: 0;
  font-size: 14px;
  font-size: 1.4rem;
  display: none;
}
#header #branding #search input {
  padding: 0.5em;
  width: 20em;
}
/*
 * Main Content
 */
#content {
  width: 960px;
  margin: 100px auto 0 auto;
  padding: 10px;
  position: relative;
  background: #ffffff;
  zoom: 1;
  /*
	 * Base tile styles
	 */

  /*
	 * Tile widths
	 */

  /*
	 * Tile colours
	 */

  /*
	 * Home page tile button images
	 */

  /*
	 * Group page tile button images
	 */

  /*
	 * Link buttons
	 */

  /*
	 * Main content section
	 */

  /*
	 * Sidebar content section
	 */

}
#content:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#content.page,
#content.post {
  background-color: #ffffff;
}
#content h1.solution-heading {
  color: white;
}
#content .tile {
  position: relative;
  width: 278px;
  height: 148px;
  margin: 0 20px 20px 0;
  float: left;
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #1e90ff;
  border: 1px solid #006ad1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .tile h3 {
  color: white;
  text-align: right;
  font-weight: normal;
  margin-bottom: 0.25em;
}
#content .tile h3 a {
  color: white;
}
#content .tile h4 {
  text-align: right;
  font-weight: normal;
}
#content .tile.tagged-solutions {
  width: 90%;
  float: none;
  height: auto;
}
#content .tile.tagged-solutions li {
  float: left;
  margin: 5px 10px;
}
#content .w940 {
  width: 918px;
}
#content .w700 {
  width: 678px;
}
#content .w640 {
  width: 618px;
}
#content .w620 {
  width: 598px;
}
#content .w460 {
  width: 438px;
}
#content .w340 {
  width: 318px;
}
#content .w360 {
  width: 338px;
}
#content .w300 {
  width: 278px;
}
#content .w280 {
  width: 260px;
}
#content .w220 {
  width: 198px;
}
#content .new-row {
  clear: both;
}
#content .t-blue {
  background-color: #1e90ff;
  border: 1px solid #006ad1;
}
#content .t-blue a:hover {
  color: #004384;
}
#content a:hover.t-blue {
  background-color: #004384;
}
#content .t-green {
  background-color: #55a100;
  border: 1px solid #3a6e00;
}
#content .t-green a:hover {
  color: #040800;
}
#content a:hover.t-green {
  background-color: #1f3b00;
}
#content .t-orange {
  background-color: #ff6e00;
  border: 1px solid #b34d00;
}
#content .t-orange a:hover {
  color: #662c00;
}
#content a:hover.t-orange {
  background-color: #662c00;
}
#content .t-purple,
#content .sidebar-tile .t-purple {
  background-color: #990066;
  border: 1px solid #800055;
}
#content .t-purple a:hover,
#content .sidebar-tile .t-purple a:hover {
  color: #000000;
}
#content a:hover.t-purple {
  background-color: #660044;
}
#content .t-red {
  background-color: #f93628;
  border: 1px solid #cf1306;
}
#content .t-red a:hover {
  color: #840c04;
}
#content a:hover.t-red {
  background-color: #840c04;
}
#content .t-grey {
  background-color: #666666;
  border: 1px solid #4d4d4d;
}
#content .t-grey a:hover {
  color: #1a1a1a;
}
#content.fp,
#content.product,
#content.ms,
#content.bi,
#content.comm,
#content.about,
#content.resources {
  background-color: transparent;
}
#content a.bi,
#content a.ms,
#content a.com,
#content a.about,
#content a.news,
#content a.pro,
#content a.resources,
#content a.catgeory-news,
#content a.talk,
#content a.case-study {
  background-repeat: no-repeat;
  background-position: 0.8em 3em;
}
#content a.bi p,
#content a.ms p,
#content a.com p,
#content a.about p,
#content a.news p,
#content a.pro p,
#content a.resources p,
#content a.catgeory-news p,
#content a.talk p,
#content a.case-study p {
  padding: 0 0 0 130px;
}
#content a.bi h3,
#content a.ms h3,
#content a.com h3,
#content a.about h3,
#content a.news h3,
#content a.pro h3,
#content a.resources h3,
#content a.catgeory-news h3,
#content a.talk h3,
#content a.case-study h3 {
  font-size: 18px;
  font-size: 1.8rem;
  padding: 5px 30px 5px 0;
}
#content a.bi {
  background-image: url(images/business_improvement.png);
}
#content a.ms {
  background-image: url(images/managed_service.png);
}
#content a.com {
  background-image: url(images/cloud.png);
}
#content a.about {
  background-image: url(images/scs.png);
}
#content a.news {
  background-image: url(images/news.png);
  position: relative;
  padding: 0;
  width: 298px;
  height: 168px;
}
#content a.news h3 {
  z-index: 10;
  top: 10px;
  right: 20px;
}
#content a.news .inactive {
  position: absolute;
  margin: 14px 0 0 0;
}
#content a.news .active {
  position: absolute;
  top: 168px;
  padding: 10px;
  background: #ff6e00;
}
#content a.news .post-list {
  font-size: 14px;
  font-size: 1.4rem;
}
#content a.pro {
  background-image: url(images/products.png);
}
#content a.resources {
  background-image: url(images/communication.png);
  position: relative;
  padding: 0;
  width: 298px;
  height: 168px;
}
#content a.resources h3 {
  z-index: 10;
  top: 10px;
  right: 20px;
}
#content a.resources .inactive {
  position: absolute;
  margin: 14px 0 0 0;
}
#content a.resources .active {
  position: absolute;
  top: 168px;
}
#content a.case-study {
  background-image: url(images/business_talk.png);
  position: relative;
  padding: 0;
  width: 298px;
  height: 168px;
}
#content a.case-study h3 {
  z-index: 10;
  top: 10px;
  right: 20px;
}
#content a.case-study .inactive {
  position: absolute;
  margin: 14px 0 0 0;
}
#content a.case-study .active {
  position: absolute;
  top: 168px;
}
#content a.talk {
  background-image: url(images/business_talk.png);
  position: relative;
  padding: 0;
  width: 298px;
  height: 168px;
}
#content a.talk h3 {
  z-index: 10;
  top: 10px;
  right: 20px;
}
#content a.talk .inactive {
  position: absolute;
  margin: 14px 0 0 0;
}
#content a.talk .active {
  position: absolute;
  top: 168px;
}
#content.ms .tile,
#content.bi .tile,
#content.comm .tile,
#content.product .tile,
#content.resources .tile {
  background-repeat: no-repeat;
  background-position: 10px 130px;
}
#content.bi .tile {
  background-image: url(images/business_improvement_thumb.png);
}
#content.ms .tile {
  background-image: url(images/managed_service_thumb.png);
}
#content.comm .tile {
  background-image: url(images/cloud_thumb.png);
}
#content.product .tile {
  background-image: url(images/products_thumb.png);
}
#content.resources .tile {
  background-image: url(images/products_thumb.png);
}
#content .service-link {
  background: transparent url(images/more.png) no-repeat right 6px;
  padding: 0 30px 0 0;
}
#content a.back-link,
#content a.up-link {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  left: -60px;
}
#content a.back-link {
  background: url(images/back.png) no-repeat;
}
#content a.up-link {
  background: url(images/up.png) no-repeat;
}
#content #main {
  width: 620px;
  margin: 0 20px 0 0;
  float: left;
  padding: 10px 10px;
  font-size: 14px;
  font-size: 1.4rem;
}
#content #news,
#content #views {
  width: 460px;
  padding: 10px;
  font-size: 14px;
  font-size: 1.4rem;
}
#content #news {
  float: left;
}
#content #views {
  float: right;
}
#content h1.entry-title {
  font-size: 38px;
  font-size: 3.8rem;
  font-family: Vegur;
  text-transform: uppercase;
}
#content header.blue h1 {
  color: #1e90ff;
  border-left: 25px solid #1e90ff;
  padding: 0 0 2px 10px;
}
#content header.green h1 {
  color: #55a100;
  border-left: 25px solid #55a100;
  padding: 0 0 2px 10px;
}
#content header.orange h1 {
  color: #ff6e00;
  border-left: 25px solid #ff6e00;
  padding: 0 0 2px 10px;
}
#content header.purple h1 {
  color: #990066;
  border-left: 25px solid #990066;
  padding: 0 0 2px 10px;
}
#content header.red h1 {
  color: #f93628;
  border-left: 25px solid #f93628;
  padding: 0 0 2px 10px;
}
#content .home-post article {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
#content .home-post header h3 {
  margin: 0 0 10px 0;
}
#content .home-post header .entry-meta {
  float: left;
  width: 90px;
  text-align: center;
  background: #1e90ff;
  color: #ffffff;
  margin: 0 10px 0 0;
  padding: 5px 0;
}
#content .home-post header .entry-meta .date-day {
  font-size: 56px;
  font-size: 5.6rem;
  line-height: 52px;
  display: block;
}
#content .home-post header .entry-meta .date-month {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1.5rem;
}
#content .home-post .entry-footer {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ebebeb;
}
#content .single-post .entry-footer {
  background: #cccccc;
  color: #666666;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
}
#content .archive-post .category-news,
#content .archive-post .category-blog {
  background-repeat: no-repeat;
  background-position: 10px 130px;
}
#content .archive-post .category-news time,
#content .archive-post .category-blog time {
  position: absolute;
  top: 135px;
  left: 45px;
}
#content .archive-post .category-news {
  background-image: url(images/news_thumb.png);
}
#content .archive-post .category-blog {
  background-image: url(images/blog_thumb.png);
}
#content .entry-summary,
#content .entry-footer {
  margin: 0 0 0 100px;
}
#content .entry-content ul {
  margin: 0 10px;
  list-style: square;
}
#content .entry-content ul li {
  margin: 0 0 10px 0;
}
#content .entry-content ol {
  margin: 0 10px;
}
#content .entry-content ol li {
  margin: 0 0 10px 0;
}
#content .business-talk-tile {
  width: 268px;
  float: left;
  display: block;
  height: 180px;
  background: #cccccc;
  border: 1px solid #a6a6a6;
}
#content .business-talk-tile:hover {
  background: #b3b3b3;
}
#content .business-talk-tile h3,
#content .business-talk-tile p {
  color: #666666;
}
#content .business-talk-tile h4 {
  text-align: left;
  margin: 0 0 10px 0;
}
#content .business-talk-tile .entry-summary {
  margin: 0;
}
#content .business-talk-tile .entry-summary img {
  float: left;
  margin: 0 10px 0 0;
}
#content .case-study-tile {
  width: 268px;
  float: left;
  display: block;
  background: #ffffff;
  border: 1px solid #cccccc;
  height: auto;
}
#content .case-study-tile:hover {
  border: 1px solid #666666;
}
#content .case-study-tile h3,
#content .case-study-tile p {
  color: #666666;
}
#content .case-study-tile .entry-summary {
  margin: 0;
}
#content .case-study-tile .entry-summary img {
  float: left;
  margin: 0 10px 0 0;
}
#content #comments {
  margin: 50px 0 0 0;
}
#content #posts-nav {
  clear: both;
  display: block;
  width: 585px;
  font-size: 18px;
  font-size: 1.8rem;
}
#content #posts-nav a {
  color: #666666;
}
#content #posts-nav .nav-previous a {
  background: #d9d9d9 url(images/back.png) no-repeat 5px center;
  height: 40px;
  float: left;
  padding: 10px 20px 0 50px;
  border: 1px solid #cccccc;
}
#content #posts-nav .nav-next a {
  background: #d9d9d9 url(images/next.png) no-repeat 95% center;
  height: 40px;
  float: right;
  text-align: right;
  padding: 10px 50px 0 20px;
  border: 1px solid #cccccc;
}
#content #sidebar {
  width: 290px;
  float: right;
  margin: 20px 0 0 0;
  padding: 0 10px 0 0;
}
#content #sidebar h3 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: normal;
}
#content #sidebar .sidebar-tile {
  margin: 0 0 20px 0;
  padding: 10px;
  color: #ffffff;
}
#content #sidebar .sidebar-tile h3 {
  color: #ffffff;
  text-align: left;
}
#content #sidebar .sidebar-tile.t-blue a:hover {
  color: #004384;
}
#content #sidebar .sidebar-tile.t-orange a:hover {
  color: #662c00;
}
#content #sidebar .sidebar-tile.t-red a:hover {
  color: #840c04;
}
#content #sidebar .sidebar-tile.t-purple a:hover {
  color: #000000;
}
#content #sidebar .sidebar-tile.t-green a:hover {
  color: #040800;
}
#content #sidebar .sidebar-tile.widget_recent_entries {
  background: #ff6e00;
}
#content #sidebar .sidebar-tile.widget_recent_entries a:hover {
  color: #662c00;
}
#content #sidebar .sidebar-tile.widget_archive {
  background: #55a100;
}
#content #sidebar .sidebar-tile.widget_archive a:hover {
  color: #040800;
}
#content #sidebar .sidebar-tile.widget_categories {
  background: #f93628;
}
#content #sidebar .sidebar-tile.widget_categories a:hover {
  color: #840c04;
}
#content #sidebar .sidebar-tile.widget_twitter {
  background: #1e90ff;
}
#content #sidebar .sidebar-tile.widget_twitter a:hover {
  color: #004384;
}
#content #sidebar .sidebar-tile input,
#content #sidebar .sidebar-tile textarea {
  width: 95%;
}
#content #sidebar .sidebar-tile.business {
  text-align: center;
}
#content #sidebar .sidebar-tile.contact {
  text-align: center;
}
#content #sidebar .sidebar-tile.contact a {
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
}
#content #sidebar ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
#content #sidebar ul li {
  background: url(images/list-bullet.png) no-repeat left 0;
  padding: 0 0 0 26px;
  margin: 0 0 0.5em 0;
  min-height: 22px;
  list-style: none;
}
#content #sidebar ul li a {
  color: #ffffff;
}
#content #sidebar ul li a:hover {
  color: #cccccc;
}
ul.post-list {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
ul.post-list li {
  background: url(images/list-bullet.png) no-repeat left 0;
  padding: 0 0 0 26px;
  margin: 0 0 0.5em 0;
  min-height: 22px;
  list-style: none;
}
ul.post-list li a {
  color: #ffffff;
}
ul.post-list li a:hover {
  color: #cccccc;
}
#footer {
  width: 960px;
  margin: 50px auto 0 auto;
  padding: 60px 0 0 0;
  text-align: center;
  background: url(images/footer.png) no-repeat center top;
}
#footer a {
  color: #ffffff;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer ul li {
  display: inline;
}
/*
 * Styling for posts
 */
.post a.more-link,
.page a.more-link {
  background: #d9d9d9 url(images/more.png) no-repeat 95% center;
  color: #ffffff;
  line-height: 24px;
  padding: 5px 45px 5px 10px;
  margin-right: 5px;
  font-size: 16px;
  font-size: 1.6rem;
}
.post a.more-link:hover,
.page a.more-link:hover {
  background-color: #cccccc;
}
#partner {
  text-align: center;
}
/*
 * Media Queries
 */
@media only screen and (min-width: 320px) {
  
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 600px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 992px) {
  
}
